@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

.fancy-line { 
  border: 0; 
  height: 1px;
  position: relative;
  margin: 0.5em 0;
}
.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
.fancy-line:after {
  height: 0.5em;
  top: calc(-0.5em + 1px);
}

.fancy-line:before, .fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

.fancy-line, .fancy-line:before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
}

body, .fancy-line:after {
  background: white;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.05px;
  background-color: lightgray;
  margin: 5px;
}

.invalid-user{
  box-shadow: 0 0 0 4px #fcf4f4 inset;
}

#priceSlider .range-slider__thumb{
  background-color: #fcf4f4;
  /* background-color: rgb(26, 141, 141); */
  height: 27.5px;
  width: 27.5px;
  border: 8px solid rgb(24, 122, 122);
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.1);
}

/* #priceSlider .range-slider__thumb:focus{
  outline: solid 3px rgb(24, 122, 122);
} */

#priceSlider .range-slider__range{
  background-color: rgb(24, 122, 122);
}

.product-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-height: 1.5em;
}

.cart-product-title{
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
}

.address-modal-overlay{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.5);
  overflow: auto;
}

.address-modal-content{
  width: 45%;
  background-color: #fcf4f4;
  margin: 64px auto;
}

.country-select-input{
  border: 0 !important ;
  padding: 0px !important;
}

.country-select{
  border: 1px;
}