@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}

.fancy-line { 
  border: 0; 
  height: 1px;
  position: relative;
  margin: 0.5em 0;
}
.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
.fancy-line:after {
  height: 0.5em;
  top: calc(-0.5em + 1px);
}

.fancy-line:before, .fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

.fancy-line, .fancy-line:before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
}

body, .fancy-line:after {
  background: white;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.05px;
  background-color: lightgray;
  margin: 5px;
}

.invalid-user{
  box-shadow: 0 0 0 4px #fcf4f4 inset;
}